<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title • PartyMate</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo-css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendojs")

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PartyMate", "Index", new { area = "", controller = "Home" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="nav-buttons-custom"><span class="glyphicon glyphicon-sunglasses" /> Clubs <span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Add Club", "Add", new { area = "", controller = "Club" })</li>
                                <li>@Html.ActionLink("Browse Clubs", "Browse", new { area = "", controller = "Club" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="nav-buttons-custom"><span class="glyphicon glyphicon-music" /> Events <span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Add Event", "Add", new { area = "", controller = "Event" })</li>
                                <li>@Html.ActionLink("Upcomming", "UpcommingTrips", new { area = "", controller = "Trip" })</li>
                            </ul>
                        </li>
                    }

                    @if (this.User.IsInRole(PartyMate.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="nav-buttons-custom"><span class="glyphicon glyphicon-list-alt" /> Admin Panel <span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Manage Clubs", "Manage", "Clubs", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Manage Events", "Manage", "Events", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />

        @if (this.TempData["Notification"] != null)
        {
            <div id="nitificationSuccess" class="panel panel-success col-md-8 col-md-offset-2 text-center" style="margin-top:1%; height: 25px; font-size: 20px; background-color:lightgreen">
                @this.TempData["Notification"]
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year • <a href="https://github.com/kossov/PartyMate">PartyMate</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#nitificationSuccess").fadeOut(2500, function () { });
        });
    </script>

    @RenderSection("scripts", required: false)
    @RenderSection("rating", required: false)
    @RenderSection("maps", required: false)
    @RenderSection("fileUpload", required: false)
</body>
</html>
